<div>
    <h2>
        <span>Timelines</span>
        <button class="btn btn-primary float-right jh-create-entity create-timelines" [routerLink]="['/', { outlets: { popup: ['timelines-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Timelines
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="timelines">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Description</span></th>
            <th><span>In Group</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timelines of timelines ;trackBy: trackId">
                <td><a [routerLink]="['../timelines', timelines.id ]">{{timelines.id}}</a></td>
                <td>{{timelines.name}}</td>
                <td>{{timelines.description}}</td>
                <td>
                    <div *ngIf="timelines.inGroup">
                        <a [routerLink]="['../timeline-groups', timelines.inGroup?.id ]" >{{timelines.inGroup?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../timelines', timelines.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'timelines/'+ timelines.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'timelines/'+ timelines.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
