<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventsLabel">Create or edit a Events</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!events.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="events.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="events.name"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_timeOfEvent">Time Of Event</label>
            <div class="d-flex">
                <input id="field_timeOfEvent" type="datetime-local" class="form-control" name="timeOfEvent" [(ngModel)]="events.timeOfEvent"
                  />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="events.description"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_inTimeline">In Timeline</label>
            <select class="form-control" id="field_inTimeline" name="inTimeline" [(ngModel)]="events.inTimeline" >
                <option [ngValue]="null"></option>
                <option [ngValue]="timelinesOption.id === events.inTimeline?.id ? events.inTimeline : timelinesOption" *ngFor="let timelinesOption of timelines; trackBy: trackTimelinesById">{{timelinesOption.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_occursAt">Occurs At</label>
            <select class="form-control" id="field_occursAt" name="occursAt" [(ngModel)]="events.occursAt" >
                <option [ngValue]="null"></option>
                <option [ngValue]="locationOption.id === events.occursAt?.id ? events.occursAt : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
